*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#424242;
    scrollbar-width: none;
}

#videos{
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:center;
   gap: 20px;
    height:100vh;
    padding-left: 20px;
    padding-right:20px;
    overflow:hidden;
}

.video-player{
    background-color: black;   
    object-fit: cover;
    border-radius:10px;
}
.video-player-main{
    width: 70%;
    height:80vh;
    max-height: 602px;
    max-width: 1250px;
}

.video-player-mini{
   
    width: 30%;
    height:50vh;
    max-height: 440px;
    max-width: 544px;
}

#video-wrapper{
    position: relative;
}

.button-container{
    display:flex;
    flex-direction:row;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    align-items:center;
    justify-content:flex-end;
    width: 100%;
}

button{
    border-radius: 50%;
}
video{
    transform: scaleX(-1); 
}

#call {
    position: relative;
    cursor: pointer;
  }

/* Tooltip container */
#call::after {
    content: 'Call';
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  /* Show the tooltip on hover */
  #call:hover::after {
    opacity: 1;
    visibility: visible;
  }
  #answer {
    position: relative;
    cursor: pointer;
  }

  #answer::after {
    content: 'Answer';
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  /* Show the tooltip on hover */
  #answer:hover::after {
    opacity: 1;
    visibility: visible;
  }
#waiting{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 40px;

}

#answer{
    
}