*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#424242;
    scrollbar-width: none;
}

#videos{
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:center;
   gap: 20px;
    height:100vh;
    padding-left: 20px;
    padding-right:20px;
    overflow:hidden;
}

.video-player{
    background-color: black;   
    object-fit: cover;
    border-radius:10px;
}
.video-player-main{
    width: 70%;
    height:80vh;
    max-height: 602px;
    max-width: 1250px;
}

.video-player-mini{
   
    width: 30%;
    height:50vh;
    max-height: 440px;
    max-width: 544px;
}

#video-wrapper{
    position: relative;
}

#waiting{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 40px;

}

#answer{
    
}